body {
    background-color:#0d0d1d;
    overflow: hidden;
}
h1 {
    color: white;
    padding: 5px;
    font-family: 'Potta One', cursive;
}
textarea {
    background-color: transparent;
    border: 0px solid black;
    width: 100vw;
    height: 90vh;
    resize: none;
    overflow: hidden;
    outline: none;
    padding: 5px;
    color: white;
}